---
import Header from "../components/astro/Header.astro";
import Navbar from "../components/astro/Navbar.astro";
import "../styles/styles.scss";
import type { NavLink } from "../types";

const navLnks: NavLink[] = [
	{
		label: "Home",
		linkTo: "/home",
	},
	{
		label: "About",
		linkTo: "#"
	}
]
---

<html lang="en">
	<Header title="Home" decription="Zenblog landing page" />
	<body>
		<main class="app">
			<div class="content">
				<Navbar links={navLnks} />
			</div>
		</main>
	</body>
</html>
