---
import { useSanityClient } from "astro-sanity";
import type { IPost } from "../../types";

const sanity = useSanityClient();

const allPosts = await sanity.fetch<IPost[]>(`*[_type == "post"]`);
const allAuthors = await sanity.fetch(`*[_type == "author"]`);
// console.log(allPosts)
console.log(allAuthors)
---

<h1>All Posts</h1>
{allPosts?.map((p_) => <h4>{p_.title}</h4>)}
<script>
    console.log("SHIPPED")
</script>
{allAuthors?.map((author_: any) => <h4>{author_.name}</h4>)}