// global styles
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --primary-background: black;
    --primary-font-color: black;
    --secondary-font-color: rgb(58, 58, 58);
}
body {
    width: 100%;
    scrollbar-width: 0px;
    &::-webkit-scrollbar {
        display: none;
        width: 0px;
    }
}
.app {
    display: flex;
    width: 100%;
    height: fit-content;
    position: relative;
    background: white;
}
.content {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    section {
        display: flex;
        height: 100vh;
        width: 100%;
    }
    footer {
        display: flex;
        background: linear-gradient(135deg, rgba(238,177,7,1) 22%, rgba(182,20,161,1) 66%);
        height: fit-content;
        width: 100%;
        padding: 10px;
    }
}

// handle min nav animations
.navbar {
    .nav_min_active {
        display: flex;
        animation: animate-nav_min-in 0.4s linear forwards;
    }
    .nav_min_inactive {
        animation: animate-nav_min-out 0.4s linear forwards;
    }    
}

// gradient-spots
.diffuser_spot {
    position: absolute;
    height: 100px;
    width: 100px;
    background: linear-gradient(135deg, rgb(255, 187, 0) 22%, rgb(255, 0, 221) 66%);
    opacity: 0.6;
    &:nth-child(1) {
        height: 200px;
        width: 200px;
        top: 200px;
        left: 50%;
        border-radius: 50%;
        transform: skew(-10deg);
        filter: blur(100px);
    }
    &:nth-child(2) {
        top: 200px;
        left: 50%;
        border-radius: 50%;
        transform: skew(-10deg);
        filter: blur(100px);
    }
    &:nth-child(3) {
        height: 60vh;
        width: 60vw;
        top: 40em;
        border-radius: 50%;
        filter: blur(100px);
    }
}

// .nav_min_active {
//     display: flex;
//     animation: animate-nav_min-in 0.4s linear forwards;
// }
// .nav_min_inactive {
//     animation: animate-nav_min-out 0.4s linear forwards;
// }

@keyframes animate-nav_min-in {
    0% {
        transform: translateX(100vw);
        opacity: 0.7;
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
        display: flex;
    }
}

@keyframes animate-nav_min-out {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0.7;
        transform: translateX(100vw);
        display: none;
    }
}

// fonts
@import "./fonts.scss";

// @media (prefers-color-scheme: "dark") {
//     body {
//         filter: invert(100%);
//     }
// }