// global styles
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --primary-background: black;
    --primary-font-color: black;
    --secondary-font-color: rgb(58, 58, 58);
}
body {
    width: 100%;
}
.app {
    display: flex;
    width: 100%;
    height: fit-content;
}
.content {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: column;
    background: white;
    section {
        display: flex;
        height: 100vh;
        width: 100%;
    }
    footer {
        display: flex;
        background: linear-gradient(135deg, rgba(238,177,7,1) 22%, rgba(182,20,161,1) 66%);;
        height: fit-content;
        width: 100%;
        padding: 10px;
    }
}

.nav_min_active {
    display: flex;
    animation: animate-nav_min-in 0.4s linear forwards;
}
.nav_min_inactive {
    animation: animate-nav_min-out 0.4s linear forwards;
}

@keyframes animate-nav_min-in {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
        display: flex;
    }
}
// fonts
@import "./fonts.scss";

// @media (prefers-color-scheme: "dark") {
//     body {
//         filter: invert(100%);
//     }
// }